@media screen and (max-width:480px) {

.infoBox{box-sizing: border-box; padding-top: 5rem; padding-bottom: 8rem; position: relative;
         width: 100%; height:auto; background-image:url('../../../../img/main/4-4_3.png');
         background-repeat:repeat-y;
         background-position:center center;
         background-size:100% auto;  
        }
.infoBox:before{content:" "; display: block;position: absolute;  top: -8vw; left: 0;
        width: 100%; height: 8vw; z-index: 5000;
         background-image: url('../../../../img/main/4-4_2.png');
         background-repeat: no-repeat;
         background-position: bottom center;
         background-size: 100% auto }
.infoBox:after{content:" "; display: block; position: absolute; bottom: -8vw; left: 0;
width: 100%; height: 8vw; z-index: 6000;
         background-image: url('../../../../img/main/4-4.png');
         background-repeat: no-repeat;
         background-position: top center;
         background-size: 100% auto }

h2{margin: auto;  width: 250px; height: 100x; color: #000; text-align: center; font-size: 1rem;  color:#555;}
h2>span{color: #23472f;  text-align: center; font-size: 1.5rem; font-weight: 800;}

.info_wrap{width:100%; height: 150px; margin: auto; box-sizing: border-box; padding-top: 3rem;}
.info_wrap>ul{width: 100%; height: 100%;}
.info_wrap li{width: 32%; height: 100%;  float: left; margin-right: 2%; }
.info_wrap li:last-child{margin-right: 0;}

.info_wrap div{background-size: contain; background-repeat: no-repeat; background-position: center;
               margin-bottom: 2rem;}
.info_01{width: 100%; height: 40%; background-image: url(../../../../img/main/info_1.svg);}
.info_02{width: 100%; height: 40%; background-image: url(../../../../img/main/info_2.svg);}
.info_03{width: 100%; height: 40%; background-image: url(../../../../img/main/info_3.svg);}

.info_wrap dl{text-align: center; width: 100%; height: auto; margin-top: 5%; }
.info_wrap dt{width: 80%; margin: auto; margin-bottom: 1rem; height: auto; font-weight: 800; font-size: 1rem; color: #23472f; }
.info_wrap dd{width: 100%; margin: auto; height: auto; font-size: 0.9rem;}

}