@media screen and (min-width:481px) and (max-width:768px) {
#wrap{width: 100%; height: 100%; position: relative;}
  
#adJuiceBox{
 width: 100%; height: 100%;
 background-image: url("../../../../img/juice/bg.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 }


  .gnb{text-shadow: 1px 1px 2px #121212;}

  .gnb>ul>li.juice{
    font-weight: 800;
    animation:ani 700ms infinite ease alternate;}
  .juice a{font-weight:  inherit;}

  @keyframes ani {
  0%{transform: translateY(0);}
  100%{transform: translateY(-1rem);}
}
}