@media screen and (min-width:768px) and (max-width:1365px) {


#footBox{position: relative;
        width: 100%; height: 80vw; 
        background-color: #f9f7f2;
        background-image: url('../../../../../img/main/footer_bg.jpg');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        }


.foot{position: absolute; width: 50%; height: auto; text-align: center;
      left: 25%; bottom: 5%;}


.sns{width: auto; height: 50px;}
.sns>ul{width: 170px; height: 100%; margin:auto;}
.sns>ul>li{width: 30px; height: 100%; margin-right: 2rem; float: left;
           background-repeat: no-repeat;
           background-size: contain;
           background-position: center;}
.sns>ul>li>a{display: block; width: 100%; height: 100%;}
.sns>ul>li:nth-child(1){background-image: url('../../../../../img/main/facebook.svg');}
.sns>ul>li:nth-child(2){background-image: url('../../../../../img/main/instagram.svg');}
.sns>ul>li:nth-child(3){margin-right: 0; background-image: url('../../../../../img/main/youtube.svg');}

.sns>ul>li:nth-child(1):hover{background-image: url('../../../../../img/main/facebook_h.svg');}
.sns>ul>li:nth-child(2):hover{background-image: url('../../../../../img/main/instagram_h.svg');}
.sns>ul>li:nth-child(3):hover{margin-right: 0; background-image: url('../../../../../img/main/youtube_h.svg');}

.foot_text{width:auto; height: 30px; margin-top: 1rem; }
.foot_text>ul{width: 435px; height: 100%; margin: auto;} 
.foot_text>ul>li{width: auto; height: 100%; font-size: 1rem; color: #fff; float: left; margin-right: 3rem;}
.foot_text>ul>li:last-child{margin-right: 0;}
.foot_text>ul>li>a{display: block; width: auto; height: auto; color: inherit;}
.foot_text>ul>li>a:hover{font-weight: 800; color: #fff; text-decoration: underline;}


p{margin-top: 2rem; color: #fff; font-size: 0.9rem;}

}